.App{
    background-color: #323153;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.container{
    margin: 1rem 0;
}

.heading{
    font-size: 5rem;
    margin-bottom: 3rem;

}

.headContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poop{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


